<html layout:decorate="~{global/layout}">
<div layout:fragment="content" class="container">
<div class="overflow-x-auto">
    <table class="table">
        <!-- head -->
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성 일시</th>
            <th>수정 일시</th>
        </tr>
        </thead>
        <tbody>
        <!-- row 1 -->
        <tr th:each="question, loop : ${questionList}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.title}"></a>
            </td>
            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</div>